<div class="pickles">
<div id="content">

  <h1>About</h1>

  <div class="layer mountain one"></div>
  <div class="layer cloud one"><img src="https://anaislab.com/tutoriales/img/cloud1.png" alt=""></div>
  <div class="layer mountain two"></div>
  <div class="layer mountain three"></div>
  <div class="layer cloud two"><img src="https://anaislab.com/tutoriales/img/cloud1.png" alt=""></div>
  <div class="layer cloud three"><img src="https://media.giphy.com/media/OvFQrZk8b5N0Q/source.gif" alt=""></div>
</div>
</div>
<%= render "welcome/navbar"%>
<h1>about</h1>