<div class="pickles">
<div id="content">

  <h1>About</h1>

  <div class="layer mountain one"></div>
  <div class="layer cloud one"><img src="https://anaislab.com/tutoriales/img/cloud1.png" alt=""></div>
  <div class="layer mountain two"></div>
  <div class="layer mountain three"></div>
  <div class="layer cloud two"></div>
  <div class="layer cloud three"><img src="http://vignette3.wikia.nocookie.net/animal-jam-clans-1/images/9/92/Tumblr_mqpoziggwt1s5jjtzo1_500.gif/revision/latest?cb=20160405021602" alt=""></div>
</div>
</div>
<%= render "welcome/navbar"%>
<div class="container">
	<h1>About Me</h1>
	<%= link_to 'Download Resume', '/docs/resume.pdf', download: 'resume.pdf', class:"btn btn-lg btn-default" %>
	<%= link_to "View Certification", "http://s3-ap-southeast-1.amazonaws.com/next-academy-site/uploads/certificates/michelle-ler-hsin-yee-4e0684ff-ce2a-4400-9abd-df6c2c51fa99/b0d0c09ca9.", target: :_blank, class:"btn btn-lg btn-default" %>
  <%= link_to "Github", "https://github.com/michowler", target: :_blank, class:"btn btn-lg btn-default" %>
  <br>
  <h2>How I started to code?</h2>
  <p style="font-size: 20px;"> Hi everyone, I'm a 20 y.o who loves coding ever since my brother introduced me to a new language called Ruby! It wasn't a great experience at first because everything seemed so dull and it didn't capture my full attention, so I slept on it. Regardless, the curiousity about coding still lingered in me, and I finally decided to take it seriously by pushing my own limits, studying how to code through Codecademy during my A-level days. However, progress was REAL SLOW. Without further delay, after A-levels, I entered a full stack Web Development Bootcamp at NEXT Academy and realized my passion towards the whole tech industry. Everthing I did and done was a great satisfication which makes me want to step further and deeper into it. Never once was I bored to do it, unlike the many things I ended up quitting, this was different. I wanted to do well and I was always eager to learn about it, from anyone and anywhere! I joined many tech events(Techladies, WWCode, RailsGirls, Google events, etc) as I really love indulging in the moment where so many like minded people gather and talk about their ideas. I have a long way to go, to gain experience and connections, so hire me today! </p>
</div>