<div class="pickles">
<div id="content">

  <h1>Contacts</h1>

  <div class="layer mountain one"></div>
  <div class="layer cloud one"><img src="https://anaislab.com/tutoriales/img/cloud1.png" alt=""></div>
  <div class="layer mountain two"></div>
  <div class="layer mountain three"></div>
  <div class="layer cloud two"></div>
  <div class="layer cloud three"><img src="http://www.guoguiyan.com/data/out/86/68564993-gif-wallpapers.gif" alt=""></div>
</div>
</div>
<%= render "welcome/navbar"%>
<div class="container">
	<h1>contacts</h1>
</div>