<div class="pickles">
<div id="content">

  <h1>MY YOUTUBE VIDEOS</h1>
  <div class="layer cloud three"><img src="http://www.guoguiyan.com/data/out/86/68564993-gif-wallpapers.gif" alt=""></div>
</div>
</div>
<%= render "welcome/navbar"%>
<div class="container">

</div>