<div class="pickles">
<div id="content">

  <h1>Contacts</h1>
  <div class="layer cloud three"><img src="http://www.guoguiyan.com/data/out/86/68564993-gif-wallpapers.gif" alt=""></div>
</div>
</div>
<%= render "welcome/navbar"%>
<div class="container">
	<h1>Contacts</h1>
	<p>Social Media:</p>
	<li><%= link_to "Facebook", "https://www.facebook.com/michelleler"%></li>
	<li><%= link_to "Linked In", "https://www.linkedin.com/in/michelle-l-b60839aa/"%></li>
	<li>Whatsapp 016-6784827</li>
</div>