<div class="pickles">
<div id="content">

  <h1>looking for Michelle? <br><%=link_to "i'm not sure", "/", class:"btn btn-lg btn-danger"%><%=link_to "duh, yeah", "/portfolio", class:"btn btn-lg btn-default"%></h1>

  <div class="layer mountain one"></div>
  <div class="layer cloud one"><img src="https://anaislab.com/tutoriales/img/cloud1.png" alt=""></div>
  <div class="layer mountain two"></div>
  <div class="layer mountain three"></div>
  <div class="layer cloud two"><img src="https://anaislab.com/tutoriales/img/cloud1.png" alt=""></div>
  <div class="layer cloud three"><img src="https://media.giphy.com/media/OvFQrZk8b5N0Q/source.gif" alt=""></div>
</div>
</div>
