<div class="pickles">
<div id="content">

  <h1>Michelle's lab? <br><%=link_to "enter", posts_path, class:"btn btn-lg btn-default"%></h1>

  <div class="layer mountain one"></div>
  <div class="layer cloud one"><img src="https://anaislab.com/tutoriales/img/cloud1.png" alt=""></div>
  <div class="layer mountain two"></div>
  <div class="layer mountain three"></div>
  <div class="layer cloud two"><img src="http://www.sandboxthreads.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/p/i/pirateship_3.png" alt=""></div>
  <div class="layer cloud three"><img src="https://media.giphy.com/media/OvFQrZk8b5N0Q/source.gif" alt=""></div>
</div>
</div>

