<div id="content">

  <h1>Michelle's lab. <br><button type="button" class="btn btn-lg btn-default">enter</button></h1>

  <div class="layer mountain one"></div>
  <div class="layer cloud one"><img src="https://anaislab.com/tutoriales/img/cloud1.png" alt=""></div>
  <div class="layer mountain two"></div>
  <div class="layer mountain three"></div>
  <div class="layer cloud two"><img src="http://www.sandboxthreads.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/p/i/pirateship_3.png" alt=""></div>
  <div class="layer cloud three"><img src="https://static.tumblr.com/afabae1d0c1712c2557c3f7293254dea/mfm7u0e/ctQo9dp8b/tumblr_static_83ovsfvqvx0cgcswkgcskcgk4_640_v2.gif" alt=""></div>
</div>