<div class="pickles">
<div id="content">

  <h1>Michelle Ler aka Michowler<br>  	
  	<%=link_to "Enter", "/about", class:"btn btn-lg btn-danger"%><br>
  </h1>
  
  <div class="layer cloud three"><img src="https://media.giphy.com/media/OvFQrZk8b5N0Q/source.gif" alt=""></div>
</div>
</div>
