<%= render "welcome/navbar"%>
<div class="pickles">
	
	  <h1>Portfolio</h1>
	  
	
</div>

<div id="portfolio">
	<div class="container">
		<div class="col-lg-12">
		
			<div class="hover08 column">
				<div>
					<figure><a href="https://nextlineup.herokuapp.com" target="_blank" ><img src="assets/lineup.png" /></a></figure>
					<span>LineUP (Leave Management App)</span>
				</div>
			</div>	
			<br>

			<div class="hover08 column">
				<div>
					<figure><a href="https://imingle.herokuapp.com" target="_blank" ><img src="assets/imingle.png" /></a></figure>
					<span>Mingle (Airbnb clone)</span>
				</div>
			</div>				
			<br>

			<div class="hover08 column">
				<div>
					<figure><a href="https://joahh.herokuapp.com" target="_blank" ><img src="assets/joahh.png" /></a></figure>
					<span>Joahh (Mudah clone)</span>
				</div>
			</div>	
			<br>
			
			<div class="hover08 column">	
				<div>
					<figure><a href="https://pukes.herokuapp.com" target="_blank" ><img src="assets/pukes.png" /></a></figure>
					<span>Pukes (Twitter clone)</span>
				</div>
			</div>
			<br>

			<div class="hover08 column">
				<div>
					<figure><a href="https://short-links-app.herokuapp.com" target="_blank" ><img src="assets/short-links.png" /></a></figure>
					<span>Short-Links (Bitly clone)</span>
				</div>
			</div>

		</div>
	</div>
</div>