<div class="pickles">
<div id="content">

  <h1>Portfolio</h1>

  <div class="layer mountain one"></div>
  <div class="layer cloud one"><img src="https://anaislab.com/tutoriales/img/cloud1.png" alt=""></div>
  <div class="layer mountain two"></div>
  <div class="layer mountain three"></div>
  <div class="layer cloud two"></div>
  <div class="layer cloud three"><img src="http://www.qygjxz.com/data/out/92/4438948-gif-wallpaper.gif" alt=""></div>
</div>
</div>

<%= render "welcome/navbar"%>
<div id="portfolio">
	<div class="container">
		<div class="col-lg-12">
		
			<div class="hover08 column">
				<div>
					<figure><a href="https://nextlineup.herokuapp.com" target="_blank" ><img src="assets/lineup.png" /></a></figure>
					<span>LineUP (Leave Management App)</span>
				</div>
				<div>
					<figure><a href="https://imingle.herokuapp.com" target="_blank" ><img src="assets/imingle.png" /></a></figure>
					<span>Mingle (Airbnb clone)</span>
				</div>
				<div>
					<figure><a href="https://joahh.herokuapp.com" target="_blank" ><img src="assets/joahh.png" /></a></figure>
					<span>Joahh (Mudah clone)</span>
				</div>
			</div>	
			<br><br><br>
			<div class="hover08 column">	
				<div>
					<figure><a href="https://pukes.herokuapp.com" target="_blank" ><img src="assets/pukes.png" /></a></figure>
					<span>Pukes (Twitter clone)</span>
				</div>
				<div>
					<figure><a href="https://short-links.herokuapp.com" target="_blank" ><img src="assets/short-links.png" /></a></figure>
					<span>Short-Links (Bitly clone)</span>
				</div>
			</div>

		</div>
	</div>
</div>