<div class="pickles">
<div id="content">

  <h1>Portfolio</h1>

  <div class="layer mountain one"></div>
  <div class="layer cloud one"><img src="https://anaislab.com/tutoriales/img/cloud1.png" alt=""></div>
  <div class="layer mountain two"></div>
  <div class="layer mountain three"></div>
  <div class="layer cloud two"><img src="https://anaislab.com/tutoriales/img/cloud1.png" alt=""></div>
  <div class="layer cloud three"><img src="https://media.giphy.com/media/OvFQrZk8b5N0Q/source.gif" alt=""></div>
</div>
</div>

<%= render "welcome/navbar"%>
<div id="portfolio">
<div class="container">

	<div class="hover08 column">
		<div>
			<figure><a href="https://imingle.herokuapp.com"><img src="assets/imingle" /></a></figure>
			<span>Mingle (airbnb clone)</span>
		</div>
		<div>
			<figure><a href="https://pukes.herokuapp.com"><img src="assets/pukes" /></a></figure>
			<span>Pukes (twitter clone)</span>
		</div>
		<div>
			<figure><a href="https://joahh.herokuapp.com"><img src="assets/joahh" /></a></figure>
			<span>Joahh (mudah clone)</span>
		</div>
	</div>
</div>
</div>