<div id="portfolio">
<div class="container">
<h1>My portfolio</h1>

	<div class="hover08 column">
		<div>
			<figure><a href="https://imingle.herokuapp.com"><img src="assets/imingle" /></a></figure>
			<span>Mingle (airbnb clone)</span>
		</div>
		<div>
			<figure><a href="https://pukes.herokuapp.com"><img src="assets/pukes" /></a></figure>
			<span>Pukes (twitter clone)</span>
		</div>
		<div>
			<figure><a href="https://joahh.herokuapp.com"><img src="assets/joahh" /></a></figure>
			<span>Joahh (mudah clone)</span>
		</div>
	</div>
</div>
</div>