@import "bootstrap-sprockets";
@import "bootstrap";
@import 'welcome';
@import 'posts';
@import 'navbar';
@import 'portfolios';

.container {
	color: #333;
	font-weight: 300;
	min-height:1500px;
	background-color: #ffffff;
	background-image: linear-gradient(2deg, #ffffff 0%, #97D9E1 24%, #D9AFD9 49%, #f39494 75%, #f9da7f 100%);
}



