@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:700);
.pickles,#content{height:100vh;}

#content {
  position:relative;
  height:100%;
  overflow:hidden;
}
#content:after {
  content:'';
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  background:-moz-linear-gradient(-45deg, #dcb0ed 0%, #99c99c 100%);
  background:-webkit-linear-gradient(-45deg, #dcb0ed 0%, #99c99c 100%);
  background: linear-gradient(-45deg, #dcb0ed 0%, #99c99c 100%);
  opacity:.5;
  z-index:13;
}

#content h1{
  color:#fff;
  font-weight:bold;
  font-size:5vw;
  line-height:120px;
  top:50%;
  left:50%;
  color:black;
  -webkit-transform:translate(-50%, -50%);
  -moz-transform:translate(-50%, -50%);
  -o-transform:translate(-50%, -50%);
  transform:translate(-50%, -50%);
  position:absolute;
  z-index:100;
  width:100%;
  text-align:center;
  font-family:'Josefin Sans', sans-serif;
  mix-blend-mode:overlay;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: .1em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret 1s step-end infinite;

}
/*Mountains*/
.layer.mountain{
  width:100%;
  height:100%;
  background-size:cover!important;
  position:absolute;
  left:0;
  top:0;
}
.layer.mountain.one{background:url('https://anaislab.com/tutoriales/img/layer1.png')no-repeat left bottom;z-index:10;}
.layer.mountain.two{background:url('https://anaislab.com/tutoriales/img/layer3.png')no-repeat 0 0;z-index:8;}
.layer.mountain.three{background:url('https://anaislab.com/tutoriales/img/layer4.png')no-repeat 0 0;z-index:6;}
/*Cloud*/
.layer.cloud img{
  position:absolute;
  opacity:0.6;
  right:0;
  animation-name:cloud;
  animation-iteration-count:infinite;
  will-change:left;
}
.layer.cloud.one img{
  bottom:0;
  z-index:7;
  animation-duration:120s;
  animation-timing-function:ease-out;
}
.layer.cloud.two img{
  bottom:80px;
  z-index:9;
  height:50%;
  width:30%;
  opacity:0.4;
  animation-duration:90s;
  animation-timing-function:ease-in;
}

@keyframes cloud {from{right:0;}to{right:1800px;}}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 60% }
}