<!DOCTYPE html>
<html>
  <head>
    <title>hello, michelle</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
     

    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
    <script src="//cdn.jsdelivr.net/velocity/1.5/velocity.min.js"></script>
    <script src="//cdn.jsdelivr.net/velocity/1.5/velocity.ui.min.js"></script>
    <script src="js/wow.min.js"></script>
      <script>
      new WOW().init();
      </script>
    
  </head>


    <%= yield %>
 

  </body>
</html>

